*{
   margin: 0;
   padding: 0;
   font-family: 'Karla', sans-serif;
   text-decoration: none;
   box-sizing: content-box;
}

header{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #203d89;
   height: 80px;
}

.container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 70%;
}

.header-logo{
   display: flex;
   flex-direction: column;
   align-items: center;;
}

.header-logo a{
   text-decoration: none;
}

.logo-main{
   font-size: 35px;
   font-weight: 700;
   color: #FFF;
}

.logo-sub{
   font-size: 12px;
   color: rgb(228, 228, 228);
   margin-bottom: 10px;
}
.header-menu ul{
   display: flex;
   list-style: none;
   text-transform: uppercase;
}

.header-menu a{
   text-decoration: none;
   color: #FFF;
   padding: 30px;
   margin: 0;
}

.header-menu a:hover{
   background-color: #172b5e;
}

#banner{
   background: linear-gradient(180deg, #172b5e 0%, #203d89 100%);
   height: auto;
   display: flex;
   justify-content: center;
   border-bottom: 5px solid #4c70ca;
}

.banner-content{
   flex: 1;
   margin-right: 20px;
}

.banner-content h1{
   color: #FFF;
   font-weight: 700;
   width: 300px;
   font-size: 50px;
   margin-top: 30px;
}

.banner-content p{
   font-size: 20px;
   color: rgb(230, 230, 230);
   width: 300px;
   margin-top: 20px;
   font-weight: 200;
}

.banner-button{
   width: 300px;
   padding: 15px;
   font-size: 16px;
   background-color: #f2860a;
   border-radius: 10px;
   text-align: center;
   text-transform: uppercase;
   margin: 30px 0;
}

a .banner-button{
   color: #FFF;
}

.banner-button:hover{
   background-color: #f35c04;
}

.banner-img{
   flex: 1;
}
.banner-img img{
   max-width: 400px;
   margin: 0;
   box-shadow: 8px 8px #4c70ca;
}

.page-content{
   display: flex;
   justify-content: center;
}

main{
   flex:2;
}

.widget-title{
   font-size: 20px;
   font-weight: 700;
   margin: 20px 0;
}

.widget-content{
   display: flex;
   flex-wrap: wrap;
}

.img-text{
   position: absolute;
   margin: 60px 70px;
   text-align: center;
   font-size: 20px;
   font-weight: 600;
}

.widget-img-box img{
   width: 150px;
   height: 150px;
   object-fit: cover;
   margin: 20px;
   opacity: 60%;
   transition: 0.3s;
}

.widget-img-box img:hover{
   opacity: 100%;
}

aside{
   flex: 1;
}

#about-us{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

#about-us h2, #about-us p, #contato h2{
   margin-top: 30px;
   margin-bottom: 15px;
}

#about-us p{
   text-align: justify;
}

#contato{
   font-size: 14px;
   text-align: center;
}

.aside-button{
   background-color: #4c70ca;
   border-radius: 15px;
   color: #FFF;
   padding: 15px;
   margin-top: 20px;
}

.aside-button:hover{
   background-color: #172b5e;
}

footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 40px;
   background-color: #f2860a;
   padding: 20px;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
}
footer img{
   height: 80px;
   padding: 30px 0;
}

.menuMobile{
   display:none;
   width: 50px;
   height: 30px;
   position: absolute;
   right: 10px;
}

.menu-line{
   height: 3px;
   background-color: #FFF;
}

@media (max-width: 950px){
   #banner .container{
      flex-direction: column;
   }
   .banner-img{
      order: -1;
      margin-top: 20px;
   }
   .banner-img img{
      max-width: 90%;
      margin: 0;
      box-shadow: 8px 8px #4c70ca;
   }
}

@media (max-width: 815px){
   .page-content .container{
      flex-direction: column;
   }
   footer .container{
      flex-direction: column;
   }

   .menuMobile{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
   }
   .header-menu{
      display: none;
   }
}
@media (max-width: 544px){
   .widget-content{
      flex-direction: column;
   }
   .widget-img-box img{
      width: 250px;
      height: 250px;
   }
   
   .banner-content{
      margin-left: 20px;
   }
   .banner-content h1{
      font-size: 25px;
   }
   .banner-content p{
      font-size: 18px;
   }
   .banner-button{
      width: 80%;
   }
}